<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs", {btn: true}) %>
    <div class="main">
      <% if (locals.user) {%>
      <div class="welcome-text">Welcome Back <%= user.username %></div>
      <% if(locals.user.isadmin){ %>
      <div>You are an admin. You can manage everyone's messages</div>
      <% } else{%>
      <form action="/admin" method="GET">
        <button>Become Admin</button>
      </form>
      <% } %>
      <a href="/log-out">
        <button>LOG OUT</button>
      </a>
      <div class="messages">
        <form action="/new-message" method="POST">
          <label for="message">Message: </label>
          <input type="text" name="message" id="message" />
          <button>Add</button>
        </form>
      </div>
      <% } %> <% if(locals.messages) {%>
      <div class="messages-title">Messages:</div>
      <div class="messages-container">
        <% locals.messages.map(message => { %>
        <div class="message">
          <div class="message-title"><%= message.message %></div>
          <div><%= message.created_at %></div>

          <% if(locals.user){ %>
          <div>Created by: <%= message.created_by%></div>

          <% if(locals.user.isadmin){ %>
          <form action="/<%= message.id %>/delete" method="post">
            <button class="message-delete-btn">Delete</button>
          </form>
          <% } else if (locals.user.id == message.user_id){ %>
          <form action="/<%= message.id %>/delete" method="post">
            <button class="message-delete-btn">Delete</button>
          </form>
          <% } else { %>
          <div></div>
          <% } %> <% } %>
        </div>

        <% }); %>
      </div>
      <% } %>
    </div>
  </body>
</html>
